/*For all*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Header*/

/*The title*/
#header {
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(230, 175, 175);
    text-align: center;
    color: rgb(5, 18, 18);
}

/*main*/

#spencer,
#background,
#personality {
    font-size: 20px;
    text-align: left;
}

body {
    background-color: rgb(230, 190, 190);
}

.heading {
    color: rgb(17, 34, 48);
}

/*Links*/

a {
    color: rgb(241, 51, 51);
    text-decoration: none;
}

/*Table*/
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 15px;
}

table {
    width: 32%;
    text-align: right;
    float: right;
    position: relative;
}

.imp {
    font-weight: bold;
}

#image {
    text-align: center;
}

#image #reid {
    width: 100%;
    height: 550px;
}

#image-caption {
    font-size: 12px;
    font-style: italic;
}

/*Footer*/
footer {
    background-color: black;
    color: azure;
    height: 55px;
}

p #f-link {
    color: rgb(185, 228, 228);
    text-decoration: none;
}

p #f-link:hover {
    color: rgb(245, 163, 163);
}